
<div class="container-fluid">
  <div class="row" style="background-color:#fafafa;">
    <!--sidebar 左ページ リスト一覧-->
    <section class="col-sm-4 sidebar">
      <ul class="list-unstyled">

      <% @lists.each do |list| %>
        <%= link_to user_list_items_path(@user, list) do %>
            <li class="active"><%= list.name %>
            <% if true %>
            <p><a id="button" data-toggle="modal" href="" data-target="#edit_list" data-title="<%= list.name %>" data-id="<%= list.id %>"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
            <% end %>
            </li>
        <% end %>
      <% end %>
      </ul>
      <% if true %>
      <button class="btn btn-pink" type="button" data-toggle="modal" data-target="#add_list">リストを追加</button>
      <% end %>

    </section>

    <!--main 右ページ 項目一覧-->
    <section class="col-sm-8 main-content">
        <!--項目追加-->
      <% if true %>
          <!--form method="post" action="">
             <div class="input-group">
                <input type="text" class="form-control" placeholder="+項目を追加する">
                    <span class="input-group-btn">
                        <button class="btn btn-pink" type="button" data-toggle="modal" data-target="#add_new" data-name="item_id">add</button>
                    </span>
             </div>
          </form-->
          <br />
          <button class="btn btn-pink btn-block" type="button" data-toggle="modal" data-target="#add_new">+項目を追加する</button>
          <br />

      <% end %>
        <!--項目一覧-->
         <ul class="list-unstyled">
               <% @items.each.with_index(1) do |item, i| %>
              <a data-toggle="modal" href="" data-target="#show_item" data-title="<%= item.name %>" data-id="<%= item.id %>" data-comment="<%= item.comment %>" data-deadline="<%= item.dead_line %>" data-status="<%= item.status == 1 ? 'doning' : 'done' %>" data-priority="<%= item.priority %>">
                  <li>
                      <dl>
                        <% if item.status == 2 %>
                          <dt class="success">
                        <% elsif item.status == 3 %>
                          <dt class="trash">
                        <% else %>
                          <dt>
                        <% end %>
                          <span><%= i %></span><%= item.name %></dt>
                      <% if true && item.status == 1 %>
                          <dd>
                          <a data-toggle="modal" href="" data-target="#edit_item" data-title="<%= item.name %>" data-id="<%= item.id %>" data-comment="<%= item.comment %>" data-deadline="<%= item.dead_line %>" data-priority="<%= item.priority %>">
                          <i class="fa fa-pencil" aria-hidden="true">
                          </i></a></dd>
                          <dd>
                          <a data-toggle="modal" href="" data-target="#trash_item" data-title="<%= item.name %>" data-id="<%= item.id %>">
                          <i class="fa fa-trash-o" aria-hidden="true"></i></a></dd>
                          <dd>
                          <a data-toggle="modal" href="" data-target="#success_item" data-title="<%= item.name %>" data-id="<%= item.id %>">
                          <i class="fa fa-check-circle-o" aria-hidden="true"></i></a></dd>
                      <% end %>
                      </dl>
                      <div class="status-icon">
                          <p class="calendar"><%= item.dead_line %></p>

          <% if true #そのitemをいいねしてる %>
                <p><a href="#"><i class="fa fa-smile-o" aria-hidden="true"></i>&nbsp;4</a></p>

          <% else %>
                <p><a href="#"><i class="fa fa-smile-o" aria-hidden="true" style="color:#00bcd4;"></i>&nbsp;6</a></p>
          <% end %>

                <p><img src="#"></p>
                </div>
            </li>
        </a>
        <% end %>
        </ul>

    </section>
  </div>
</div>


<!--modal add_new-->
  <!-- <?php include('views/items/add.php'); ?> -->
<%= render 'items/add' %>

<!--modal add_list-->
  <!-- <?php include('views/lists/add.php'); ?> -->
<%= render 'lists/add' %>

<!--modal edit_list-->
<!-- <?php include('views/lists/edit.php'); ?> -->
<%= render 'lists/edit' %>

<!--modal success_item-->
  <!-- <?php include('views/items/conglaturation.php'); ?> -->
<%= render 'items/conglaturation' %>

<!--modal giveup_item-->
  <!-- <?php include('views/items/giveup.php'); ?> -->
<%= render 'items/giveup' %>

 <!--modal edit_item-->
  <!-- <?php include('views/items/edit.php'); ?> -->
<%= render 'items/edit' %>

 <!--modal show_item-->
  <!-- <?php include('views/items/show.php'); ?> -->
<%= render 'items/show' %>
