<!DOCTYPE html>
<html>
  <head>
    <title>BucketList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= render 'layouts/header' %>

    <div class="container">
        <section class="content-main info">
            <div class="row">
                <div class="col-md-10 col-xs-offset-1">
                    <img class="center-block img-responsive img-circle" src="#" alt="" width="150" height="150">
                    <h3>hoge田hoge夫
                <% if false %>
                    <span class="edit_info"><a href="#" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </span>
                <% elsif true %>
                    <a href="#" class="btn btn-pink">フォロー</a>
                <% elsif false %>
                    <a href="#" class="btn btn-pink">フォローを外す</a>
                <% end %>

                    </h3>
                    <p>こんちゃーヨロシャスー</p>

                </div>
            </div>
        </section>

        <!--タブ-->
        <section class="row">
            <div class="col-md-8 col-xs-offset-2">
                  <ul class="nav nav-pills nav-justified">
                    <li class="active"><a href="#">バケットリスト</a></li>
                    <li><a href="#">達成リスト</a></li>
                    <li><a href="#">ゴミ箱リスト</a></li>
                    <li><a href="#">フォロー 21</a></li>
                    <li><a href="#">フォロワー 23</a></li>
                  </ul>
            </div>
        </section>
        <br>


    <%= yield %>

    </div>
        <footer class="container-fluid" style="min-height:200px; background-color:#00bcd4;color:#fff;text-align:center;padding-top:50px;">
            BUCKET LISTS 
        </footer>

<script>
    /*ワクワク度表示*/
    // $.fn.raty.defaults.path = "<?php echo makePath('views/image'); ?>";
    // $('.starRating').raty({
      // hints: [0,1,2,3,4,5]
      // click: function($score, $evt) {
      //          $.post('./items/create',{score:$score, url:$evt.currentTarget.baseURI},
      //                 function(data){
      //                   location.href = './items/create';
      //                 }
      //                );
      // }
    // });
</script>
        <script>
          $('#edit_list').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
          var recipientTitle = button.data('title') //data-whatever の値を取得
          var recipientId = button.data('id')
          //Ajaxの処理はここに

          var modal = $(this)  //モーダルを取得
          //modal.find('.modal-title').text(recipientTitle) //モーダルのタイトルに値を表示
          modal.find('.modal-body input#list_title').val(recipientTitle)
          modal.find('.modal-body input#hidden').val(recipientId) //inputタグにも表示
          });
        </script>
        <script>
          $('#trash_item').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
          var recipientTitle = button.data('title') //data-whatever の値を取得
          var recipientId = button.data('id')

          //Ajaxの処理はここに

          var modal = $(this)  //モーダルを取得
          modal.find('.modal-title').text(recipientTitle) //モーダルのタイトルに値を表示
          modal.find('.modal-body input#hidden').val(recipientId) //inputタグにも表示
          });
        </script>
        <script>
          $('#success_item').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
          var recipientTitle = button.data('title') //data-whatever の値を取得
          var recipientId = button.data('id')
          //Ajaxの処理はここに

          var modal = $(this)  //モーダルを取得
          modal.find('.modal-title').text(recipientTitle) //モーダルのタイトルに値を表示
          modal.find('.modal-body input#hidden').val(recipientId) //inputタグにも表示
          });
        </script>
        <script>
          $('#edit_item').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
          var recipientTitle = button.data('title') //data-whatever の値を取得
          var recipientId = button.data('id')
          var recipientComment = button.data('comment')
          var recipientDeadline = button.data('deadline')
          //Ajaxの処理はここに
          var recipientPriority = button.data('priority')

          var modal = $(this)  //モーダルを取得
          //modal.find('.modal-title').text(recipientTitle) //モーダルのタイトルに値を表示
          modal.find('.modal-title').text(recipientTitle)
          modal.find('.modal-body input#hidden').val(recipientId) //inputタグにも表示
          modal.find('.modal-body input#comment').val(recipientComment)
          modal.find('.modal-body input#deadline').val(recipientDeadline)
          modal.find('.modal-body div.starRating input').val(recipientPriority)
          });
        </script>
        <script>
          $('#show_item').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
          var recipientTitle = button.data('title') //data-whatever の値を取得
          var recipientId = button.data('id')
          var recipientComment = button.data('comment')
          var recipientDeadline = button.data('deadline')
          var recipientStatus = button.data('status')
          var recipientPriority = button.data('priority')

          //Ajaxの処理はここに

          var modal = $(this)  //モーダルを取得
          //modal.find('.modal-title').text(recipientTitle) //モーダルのタイトルに値を表示
          modal.find('.modal-title').text(recipientTitle)
          modal.find('.modal-body h4#item_name').text(recipientTitle)
          // modal.find('.modal-body input#hidden').val(recipientId) //inputタグにも表示
          modal.find('.modal-body p#item_comment').text(recipientComment)
          modal.find('.modal-body span#item_deadline').text(recipientDeadline)
          modal.find('.modal-body span#status').text(recipientStatus)
          modal.find('.modal-body img#wkwk').attr("src", "<?php echo makePath('views/image/'); ?>"+recipientPriority+".png")
          });
        </script>
        <script>
          $('#item_success').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
          var recipientTitle = button.data('title') //data-whatever の値を取得
          var recipientId = button.data('id')
          var recipientComment = button.data('comment')
          var recipientCreated = button.data('created')
          //Ajaxの処理はここに
          var recipientPriority = button.data('priority')

          var modal = $(this)  //モーダルを取得
          //modal.find('.modal-title').text(recipientTitle) //モーダルのタイトルに値を表示
          modal.find('.modal-title').text(recipientTitle)
          modal.find('.modal-body h4#item_name').text(recipientTitle)
          // modal.find('.modal-body input#hidden').val(recipientId) //inputタグにも表示
          modal.find('.modal-body p#item_comment').text(recipientComment)
          modal.find('.modal-body span#item_created').text(recipientCreated)
          modal.find('.modal-body img#wkwk').attr("src", "<?php echo makePath('views/image/'); ?>"+recipientPriority+".png")
          });
        </script>
        <script>
          $('#item_trash').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
          var recipientTitle = button.data('title') //data-whatever の値を取得
          var recipientId = button.data('id')
          var recipientComment = button.data('comment')
          var recipientCreated = button.data('created')
          //Ajaxの処理はここに
          var recipientPriority = button.data('priority')

          var modal = $(this)  //モーダルを取得
          //modal.find('.modal-title').text(recipientTitle) //モーダルのタイトルに値を表示
          modal.find('.modal-title').text(recipientTitle)
          modal.find('.modal-body h4#item_name').text(recipientTitle)
          // modal.find('.modal-body input#hidden').val(recipientId) //inputタグにも表示
          modal.find('.modal-body p#item_comment').text(recipientComment)
          modal.find('.modal-body span#item_created').text(recipientCreated)
          modal.find('.modal-body img#wkwk').attr("src", "<?php echo makePath('views/image/'); ?>"+recipientPriority+".png")
          });
        </script>
        <script>
          $('#edit_trash').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
          var recipientTitle = button.data('title') //data-whatever の値を取得
          var recipientComment = button.data('comment')
          var recipientId = button.data('id')
          //Ajaxの処理はここに

          var modal = $(this)  //モーダルを取得
          //modal.find('.modal-title').text(recipientTitle) //モーダルのタイトルに値を表示
          modal.find('.modal-title').text(recipientTitle)
          modal.find('.modal-body input#comment').val(recipientComment)
          modal.find('.modal-body input#hidden').val(recipientId) //inputタグにも表示
          });
        </script>
        <script>
          $('#edit_success').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
          var recipientTitle = button.data('title') //data-whatever の値を取得
          var recipientComment = button.data('comment')
          var recipientId = button.data('id')
          //Ajaxの処理はここに

          var modal = $(this)  //モーダルを取得
          //modal.find('.modal-title').text(recipientTitle) //モーダルのタイトルに値を表示
          modal.find('.modal-title').text(recipientTitle)
          modal.find('.modal-body input#comment').val(recipientComment)
          modal.find('.modal-body input#hidden').val(recipientId) //inputタグにも表示
          });
        </script>

<!--          ";
    } -->
  </body>
</html>
